    body{
      font-size: 0.7em;
      font-family: Arial, Helvetica, sans-serif;
    }
    .content-header{
        padding: 2px .02rem;
    }
    input.form-control{
      font-size: 0.9em;
    }
    .form-control {
    display: block;
    width: 100%;
    height: calc(1.75rem + 0.5px);
    padding: .2rem .8rem;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    input.totales{
      width: 45%;
      height: calc(1rem + 0.5px);
      padding: .2rem .8rem;
      font-size: 0.9em;
      font-family: Arial, Helvetica, sans-serif;
      color: #495057;
      background-color:#fff;
      border: 0px solid;
    }
    input.totales:hover{
      background-color:rgb(248, 241, 241);
    }
    input.totales2{
      width: 45%;
      height: calc(1rem + 0.5px);
      padding: .2rem .8rem;
      font-size: 0.9em;
      font-family: Arial, Helvetica, sans-serif;
      color: #495057;
      background-color:#fff;
      border: 0px solid;
    }
 
    ul.nav.nav-treeview li.nav-item.active a.nav-link.active{
      background: #0AACE9;
      color: #fff; 
    }
    .botones{
      width:2.3em;
      height:auto;
    }
    .botonesgrandes{
      width:3.5em;
      height:auto;
    }
    .not-active {
      pointer-events: none;
    }
    .activo{
      background: #9B9898;
      color: #000000;
    }
    .modalPersonalizado {
        font-size: 1em;
    }
    .botones-modales{
      width: 70px;
      height: 30px;
    }
    .select.custom-select.nuevo{
      	font-size: 1em;
    }
    select.custom-select{
      width: 100%;
      height: calc(1.75rem + 0.5px);
      padding: .375rem 1.75rem .375rem .75rem;
      font-size: 0.9em;
    }
    .custom-select {
        display: inline-block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    td.sorting_1,td{
        font-size:  0.8em;
    }
    div.card.card-secondary{
    padding: 0px 0px 0px 0px;

    }
    div.card-body{
    padding: 6px 6px 6px 6px;
    margin-top: 0px;
    }
    div.alert.alert-success{
      margin: 0px 0px 5px;
      padding:6px 6px 6px 6px;
    }
    div.alert.alert-light{
      margin: 0px 0px 5px;
      padding:6px 6px 6px 6px;
    }
    .botones{
      width:2.6em;
      height:auto;
    }
    label.titulo{
      text-transform: uppercase;
      font-size: 0.7em;
    }
    strong.obligatorio{
      color:red;
    }